@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Dancing+Script&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #476da0;
  padding: 10px 40px;
}

.link-menu {
  color: #fff;
  background-color: #363636;
  border-radius: 8px;
  padding: 2px 6px;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
}

#logo{
  width: 80px;
  height: 75px;
  border-radius: 60px;
}

#menu{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  padding: 25px;
}

#principal{
  width: 100%;
  height:450px;
  margin: 0 auto;
  position: relative;
  background-color: #c7c5c5; 
}

#textoInd {
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
  color: rgb(164, 195, 222);
  font-family:'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 6px 6px 10px rgb(0, 0, 0);
  width: 80%;
  text-align: center;
  
}

#principal img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  display: block;
  margin-bottom: 0;
}

#second {
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 10px;      
  margin-top: 0px;
  margin-bottom: 0px;  
  padding: 40px;
  background-color: #c7c5c5;  
}

footer {
  display: flex;
  background-color: #476da0;
  align-items: center;          
  justify-content: space-between;
  height: 85px;
  padding: 10px 20px;
  margin-top: 0px;
}

#logo img {
  width: 50px; 
  height: auto;
  border-radius: 60px;
}

#contato {
  display: flex;
  align-items: center;
  gap: 15px; 
}

#contato img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
.bloco-destaque {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px; 
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}

.texto-bloco p {
  width: 100%;
  background-color: #8ca7c5;
  color: #fff;
  padding: 20px;
  font-size: 28px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.imagens-baixo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.imagens-baixo img {
  width: 45%; 
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}


/**********************************SOBRE A EMPRESA*********************************/

#textSobre {
  width: 50%;
  margin: 0;     
  padding: 20px;  
  background: #8b888b;
  color: rgba(255,255,255);
  border: 1px solid rgb(11, 11, 51);
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
  align-items: justify-content;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
}

#principalSobre img {
  width: 90%;
  height: 100%;
  max-height: 900px;
  object-fit: cover;
  display: block;
  margin-bottom: 0;
  border-radius: 11px; 
}

#principalSobre  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;       
  margin-top: 0px;
  margin-bottom: 0px;  
  padding: 40px;
  background-color: #c7c5c5;  
}


/**********************************PORTFÓLIO*********************************/

#principalPortfolio  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;      
  margin-top: 0px;
  margin-bottom: 0px;  
  padding: 40px;
  background-color: #c7c5c5;  
  flex-wrap: wrap; 
  gap: 14px;
  max-width: 2000px;
  margin: auto;
  position: relative;
}

#principalPortfolio img {
  width: calc(33.33% - 10px); 
  height: 30%;
  max-height: 900px;
  object-fit: cover;
  display: block;
  margin-bottom: 0;
  border-radius: 8px;
}


/**********************************CONTATO*********************************/

#textContato {
  width: 50%;
  margin: 0;      
  padding: 20px;  
  background: #8b888b;
  color: rgba(255,255,255);
  border: 1px solid rgb(11, 11, 51);
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
  align-items: justify-content;
  font-family: 'Roboto Condensed', sans-serif;
}

#principalContato img {
  width: 90%;
  height: 100%;
  max-height: 900px;
  object-fit: cover;
  display: block;
  margin-bottom: 0px;
  border-radius: 11px;
  padding-left: 0px;
}

#principalContato {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;      
  margin-top: 0px;
  margin-bottom: 0px;   
  padding: 40px;
  background-color: #c7c5c5;  
}

#textoIndContato {
  position: absolute;
  top:80%;
  left:25%;
  transform: translate(-50%, -50%);
  color: rgb(164, 195, 222);
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  width: 80%;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.card {
  background-color: #dcdcdc; 
  padding: 20px;
  border: 2px solid #0a1a3f; 
  width: 350px;
  height: 470px;
  margin-top: 16%;
  border-radius: 10px;
}

.linha {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.campo {
  border: 2px solid #0a1a3f;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  background-color: #fff;
}


/**********************************LOGIN ADMIN*********************************/

#main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:450px;
  background-color: #c7c5c5; 
  gap: 10px;       
  margin-top: 0px;
  margin-bottom: 0px;   
  padding: 40px;
}

.card2{
  text-align: center;
  background-color: #dcdcdc;
  padding: 20px;
  border: 2px solid #0a1a3f;
  width: 350px;
  height: 100px;
  margin-top: 5%;
  border-radius: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

.itemAdm{
  color: #fff;
  background-color:#fff;
  border-radius: 8px;
  padding: 2px 6px;
  text-decoration: none;
  list-style: none;
}

/**********************************PORTFÓLIO/CONTATO ADMIN*********************************/

#botaoAdd{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  top: 20px;
  right: 20px;
  gap: 10px;
  padding: 25px;
  
}
.botAdd{
  color: #000000;
  background-color: #eeeaea;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 3px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #000000;
}

#botExcluir{
  height: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}